$primaryColor: #da6c05; //arrow blink color
$secondaryColor: #fabe86b6; //background color
$tertiaryColor: #0d1821; //text color

//these are used in a few places - a refactor will fix this
$greyScale1: #a7aeb8;
$greyscale2: #8b94a1;
$black: black;
$white: white;

//So I am completely undecided about the color the site should be - Fortunately this is an easy fix
//color options:  just change the secondary color value to switch everything up
//Secondary color options: (blue)2787eeb6 (green)73ff169f (peach)fabe86b6

//Primary color options: (dark blue)001d6d (orange)da6c05
