@import "theme";

body {
  @mixin frontItem {
    /*this works fine to keep stuff up front, the position relative is critical to making the z index work*/
    position: relative;
    z-index: 1;
  }
  @mixin background {
    position: relative;
    z-index: -1;
  }

  /*So we need more mixins for the different shapes that include the background mixin. for sanity purposes, we make the default unit 100px and scale*/

  @mixin square {
    /*Scale the x or y axis in the transform function to create a rectangle*/
    @include background();
    height: 100px;
    width: 100px;
  }

  @mixin circle {
    /*Scale the x or y axis in the transform function to create an oval*/
    @include background();
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  @mixin triangle {
    @include background();
    width: 0px;
    height: 0px;
    /*Override as desired, but one or more of these values must be overriden; 
    specifically, change ONE border to a color value, and change any of the pixel counts to manipulate the shape of the triangle*/
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
  }
  @mixin triangle--BigAcute {
    @include triangle();
    transform: rotate(120deg) translate(-50%, -300%) scale(400%);
    z-index: -1;
    border-left: 250px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 70px solid $greyScale1;
  }

  .aboutMe {
    @include frontItem();
    background-color: $tertiaryColor;
  }
  .projectsPage {
    background-color: $secondaryColor;
    @include frontItem();
  }

  .landingPage {
    background-color: $secondaryColor;
    @include frontItem();
  }

  .contactMe {
    background-color: $tertiaryColor;
    @include frontItem();
  }

  #Object1 {
    @include triangle--BigAcute();
  }

  #Object2 {
    @include triangle--BigAcute();
    border-bottom: 70px solid $greyscale2;
    z-index: -2;
    transform: rotate(120deg) translate(-70%, -460%) scale(400%);
  }

  #Object3 {
    @include triangle--BigAcute();
    border-bottom: 70px solid $black;
    z-index: -3;
    transform: rotate(120deg) translate(-100%, -600%) scale(400%);
  }

  #Object4 {
    @include square();
    background-color: $black;
  }
  #Object5 {
    @include circle();
    background-color: $greyscale2;
  }
}
