@import "theme";

body {
  overflow-x: hidden; /*keeps the background from screwing with sizing on mobile devices*/
  @mixin frontItem {
    /*this works fine to keep stuff up front, the position relative is critical to making the z index work*/
    position: relative;
    z-index: 1;
  }
  @mixin background {
    position: relative;

    z-index: -1;
  }

  /*So we need more mixins for the different shapes that include the background mixin. for sanity purposes, we make the default unit 100px and scale*/

  @mixin square {
    /*Scale the x or y axis in the transform function to create a rectangle*/
    @include background();
    height: 100px;
    width: 100px;
  }

  @mixin circle {
    /*Scale the x or y axis in the transform function to create an oval*/
    @include background();
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  @mixin triangle {
    @include background();
    width: 0px;
    height: 0px;
    /*Override as desired, but one or more of these values must be overriden; 
    specifically, change ONE border to a color value, and change any of the pixel counts to manipulate the shape of the triangle*/
    border-left: 100px solid transparent;
    border-right: 10vw solid transparent;
    border-bottom: 100vw solid transparent;
  }
  @mixin triangle--BigAcute {
    @include triangle();

    border-right: 10vw solid transparent;
    border-bottom: 100vw solid transparent;
    z-index: -1;
  }

  .Navbar {
    @include frontItem();
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: $white;
    padding: 0.75rem;

    .NavLinks {
      margin: 0.5rem;
      justify-content: center;

      a {
        padding: 1rem;
        border-radius: 1rem;
        transition: 0.5s;
        text-decoration: none;
        color: $black;

        &:hover {
          background-color: $primaryColor;
          cursor: pointer;
        }
      }
    }
  }

  .landingPage {
    background-color: $secondaryColor;
    @include frontItem();
    display: flex;
    justify-content: right;
    width: 100%;
    header {
      text-align: right;
      font-size: 550%; //sizing is right on desktop for design purposes, but fails on mobile
    }
    //TODO ACTUAL LANDING PAGE HERO
  }
  .aboutMe {
    @include frontItem();
    background-color: $tertiaryColor;
  }

  .projectsPage {
    background-color: $primaryColor;
    @include frontItem();
    width: 100%;

    .Project__List {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }

    @mixin projectCard {
      //so lets call this the first draft - there are a couple of different ways to do this and I'm not sure what my preference is
      display: flex;
      padding: 1rem;
      max-height: min-content;
      flex-direction: row;
    }
    .Projects__Heading {
      margin: 0.5rem;
    }

    .Project__Card {
      @include projectCard();

      .project__image {
        height: 20rem;
        border-radius: 1rem;
        padding: 0.5rem;
      }
      .project__blurb {
        max-width: 30vw;
        padding: 0.5rem;
      }

      .project__links {
        display: flex;
        flex-direction: column;

        .externalLinkLogo__ForLinks {
          height: 2rem;
          border-radius: 10%;
        }
        .githubLogo__ForLinks {
          height: 2rem;
          border-radius: 50%;
        }
      }
    }

    //TODO CARDS FOR EACH PROJECT
  }

  .contactMe {
    background-color: $secondaryColor;
    @include frontItem();
    .linkedinLogo__ForLinks {
      height: 3rem;
      border-radius: 50%;
    }
    .githubLogo__ForLinks {
      height: 3rem;
      border-radius: 50%;
    }
  }

  .background__ObjectGroup {
    @include triangle();
    top: 0;
    position: fixed;

    #Object1 {
      @include triangle();

      border-left: 19vw solid black;
      transform: translateX(-30%);
      z-index: -1;
    }

    #Object2 {
      @include triangle();

      border-left: 19vw solid rgb(29, 29, 29);
      transform: translateX(-20%) translateY(-100%);
      z-index: -2;
    }
    #Object3 {
      @include triangle();

      border-left: 19vw solid rgb(39, 39, 39);
      transform: translateX(-10%) translateY(-200%);
      z-index: -3;
    }
    #Object4 {
      @include triangle();

      border-left: 19vw solid rgb(49, 49, 49);
      transform: translateX(0%) translateY(-300%);
      z-index: -4;
    }

    #Object5 {
      @include triangle();

      border-left: 19vw solid rgb(59, 59, 59);
      transform: translateX(10%) translateY(-400%);
      z-index: -5;
    }
    #Object6 {
      @include triangle();

      border-left: 19vw solid rgb(69, 69, 69);
      transform: translateX(20%) translateY(-500%);
      z-index: -6;
    }
    #Object7 {
      @include triangle();

      border-left: 19vw solid rgb(79, 79, 79);
      transform: translateX(30%) translateY(-600%);
      z-index: -7;
    }
    #Object8 {
      @include triangle();

      border-left: 19vw solid rgb(89, 89, 89);
      transform: translateX(40%) translateY(-700%);
      z-index: -8;
    }
    #Object9 {
      @include triangle();

      border-left: 19vw solid rgb(99, 99, 99);
      transform: translateX(50%) translateY(-800%);
      z-index: -9;
    }
    #Object10 {
      @include triangle();

      border-left: 19vw solid rgb(109, 109, 109);
      transform: translateX(60%) translateY(-900%);
      z-index: -10;
    }
    #Object11 {
      @include triangle();

      border-left: 19vw solid rgb(119, 119, 119);
      transform: translateX(70%) translateY(-1000%);
      z-index: -11;
    }
    #Object12 {
      @include triangle();

      border-left: 19vw solid rgb(129, 129, 129);
      transform: translateX(80%) translateY(-1100%);
      z-index: -12;
    }
    #Object13 {
      @include triangle();

      border-left: 19vw solid rgb(139, 139, 139);
      transform: translateX(90%) translateY(-1200%);
      z-index: -13;
    }
    #Object14 {
      @include triangle();

      border-left: 19vw solid rgb(149, 149, 149);
      transform: translateX(100%) translateY(-1300%);
      z-index: -14;
    }
    #Object15 {
      @include triangle();

      border-left: 19vw solid rgb(159, 159, 159);
      transform: translateX(110%) translateY(-1400%);
      z-index: -15;
    }
    #Object16 {
      @include triangle();

      border-left: 19vw solid rgb(169, 169, 169);
      transform: translateX(120%) translateY(-1500%);
      z-index: -16;
    }
    #Object17 {
      @include triangle();

      border-left: 19vw solid rgb(179, 179, 179);
      transform: translateX(130%) translateY(-1600%);
      z-index: -17;
    }
    #Object18 {
      @include triangle();

      border-left: 19vw solid rgb(189, 189, 189);
      transform: translateX(140%) translateY(-1700%);
      z-index: -18;
    }
    #Object19 {
      @include triangle();

      border-left: 19vw solid rgb(199, 199, 199);
      transform: translateX(150%) translateY(-1800%);
      z-index: -19;
    }
    #Object20 {
      @include triangle();

      border-left: 19vw solid rgb(209, 209, 209);
      transform: translateX(160%) translateY(-1900%);
      z-index: -20;
    }
    #Object21 {
      @include triangle();

      border-left: 19vw solid rgb(219, 219, 219);
      transform: translateX(170%) translateY(-2000%);
      z-index: -21;
    }
    #Object22 {
      @include triangle();

      border-left: 19vw solid rgb(229, 229, 229);
      transform: translateX(180%) translateY(-2100%);
      z-index: -22;
    }
    #Object23 {
      @include triangle();

      border-left: 19vw solid rgb(239, 239, 239);
      transform: translateX(190%) translateY(-2200%);
      z-index: -23;
    }
    #Object24 {
      @include triangle();

      border-left: 19vw solid rgb(249, 249, 249);
      transform: translateX(200%) translateY(-2300%);
      z-index: -24;
    }
  }
}
