body {
  overflow-x: hidden; /*keeps the background from screwing with sizing on mobile devices*/
  /*So we need more mixins for the different shapes that include the background mixin. for sanity purposes, we make the default unit 100px and scale*/
}
body .Navbar {
  /*this works fine to keep stuff up front, the position relative is critical to making the z index work*/
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  padding: 0.75rem;
}
body .Navbar .NavLinks {
  margin: 0.5rem;
  justify-content: center;
}
body .Navbar .NavLinks a {
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.5s;
  text-decoration: none;
  color: black;
}
body .Navbar .NavLinks a:hover {
  background-color: #23d9dc;
  cursor: pointer;
}
body .landingPage {
  background-color: rgba(35, 124, 220, 0.4784313725);
  /*this works fine to keep stuff up front, the position relative is critical to making the z index work*/
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: right;
  width: 100%;
}
body .landingPage header {
  text-align: right;
  font-size: 550%;
}
body .aboutMe {
  /*this works fine to keep stuff up front, the position relative is critical to making the z index work*/
  position: relative;
  z-index: 1;
  background-color: rgba(35, 220, 131, 0.7137254902);
}
body .projectsPage {
  background-color: #23d9dc;
  /*this works fine to keep stuff up front, the position relative is critical to making the z index work*/
  position: relative;
  z-index: 1;
  width: 100%;
}
body .projectsPage .Project__List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
body .projectsPage .Projects__Heading {
  margin: 0.5rem;
}
body .projectsPage .Project__Card {
  display: flex;
  padding: 1rem;
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
  flex-direction: row;
}
body .projectsPage .Project__Card .project__image {
  height: 20rem;
  border-radius: 1rem;
  padding: 0.5rem;
}
body .projectsPage .Project__Card .project__blurb {
  max-width: 30vw;
  padding: 0.5rem;
}
body .projectsPage .Project__Card .project__links {
  display: flex;
  flex-direction: column;
}
body .projectsPage .Project__Card .project__links .externalLinkLogo__ForLinks {
  height: 2rem;
  border-radius: 10%;
}
body .projectsPage .Project__Card .project__links .githubLogo__ForLinks {
  height: 2rem;
  border-radius: 50%;
}
body .contactMe {
  background-color: rgba(35, 124, 220, 0.4784313725);
  /*this works fine to keep stuff up front, the position relative is critical to making the z index work*/
  position: relative;
  z-index: 1;
}
body .contactMe .linkedinLogo__ForLinks {
  height: 3rem;
  border-radius: 50%;
}
body .contactMe .githubLogo__ForLinks {
  height: 3rem;
  border-radius: 50%;
}
body #Object1 {
  position: relative;
  z-index: -1;
  width: 0px;
  height: 0px;
  /*Override as desired, but one or more of these values must be overriden; 
  specifically, change ONE border to a color value, and change any of the pixel counts to manipulate the shape of the triangle*/
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid transparent;
  transform: rotate(120deg) translate(-50%, -300%) scale(400%);
  z-index: -1;
  border-left: 250px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 70px solid #a7aeb8;
}
body #Object2 {
  position: relative;
  z-index: -1;
  width: 0px;
  height: 0px;
  /*Override as desired, but one or more of these values must be overriden; 
  specifically, change ONE border to a color value, and change any of the pixel counts to manipulate the shape of the triangle*/
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid transparent;
  transform: rotate(120deg) translate(-50%, -300%) scale(400%);
  z-index: -1;
  border-left: 250px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 70px solid #a7aeb8;
  border-bottom: 70px solid #8b94a1;
  z-index: -2;
  transform: rotate(120deg) translate(-70%, -460%) scale(400%);
}
body #Object3 {
  position: relative;
  z-index: -1;
  width: 0px;
  height: 0px;
  /*Override as desired, but one or more of these values must be overriden; 
  specifically, change ONE border to a color value, and change any of the pixel counts to manipulate the shape of the triangle*/
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid transparent;
  transform: rotate(120deg) translate(-50%, -300%) scale(400%);
  z-index: -1;
  border-left: 250px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 70px solid #a7aeb8;
  border-bottom: 70px solid black;
  z-index: -3;
  transform: rotate(120deg) translate(-100%, -600%) scale(400%);
}
body #Object4 {
  /*Scale the x or y axis in the transform function to create a rectangle*/
  position: relative;
  z-index: -1;
  height: 100px;
  width: 100px;
  background-color: black;
}
body #Object5 {
  /*Scale the x or y axis in the transform function to create an oval*/
  position: relative;
  z-index: -1;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #8b94a1;
}/*# sourceMappingURL=styles.css.map */